{% extends 'base.html' %}
{% block content %}
<h1 class = 'text-center px-3'>ABOUT-US<h1>
<hr>
<div class = 'container'>
<p id = 'me'>
Hello, My name is Pramod Mittal studying in Dayalbagh Educational Institute ,Agra. I am doing my Bachelor's of Technology in Civil Engineering with 
specialization in Computer Science.Currently I am in my Final Year.All the data and information on this website is Dummy.</p> 
<h5 id = 'me'>Key Features of this Website</h5>
<ul id = 'me'>
<li> Technology used in Front-end Development are HTML,CSS,BOOTSTRAP</li>
<li> Technology used in Backend-end Development are PYTHON ,DJANGO WEB FRAMEWORK</li>
<li>User can make his/her account on this site</li>
<li> User can edit his/her profile</li>
<li> User can write a post on this site and can also delete that post</li>
<li> User can follow and unfollow other user</li>
<li> User can see the post of his/her followers on home page and can like/dislike the post</li>
</ul>

</div>
{% endblock content %}