{% extends 'base.html' %}

{% block content %}
<div class = container>
<h1 class = 'py-2'>HERE YOU CAN EXPLORE PROFILE OF OTHER USER</h1>
<form method = GET>
<input value = "{{request.GET.si}}" type = "text" name = 'si'/>
<input type = "submit"/>
</form>

<table class = 'table my-3'>
<thead class = 'thead-dark'>
<tr>
<th>NAME</th>
<th>GENDER</th>
<th>GENDER</th>
<th>ACTIONS</th>
</tr>
</thead>
<tr>
{% for n1 in myprofile_list %}
<td>{{n1.name}}</td>
<td>{{n1.age}}</td>
<td>{{n1.gender}}</td>
<td><a class = 'btn btn-success' href= '/social/myprofile/detail/{{n1.id}}'>View Profile</a>
{% if n1.followed  %}
<a class = 'btn btn-danger btn-sm' href= '/social/myprofile/unfollow/{{n1.id}}'>UnFollow</a>
{% else %}
<a class = 'btn btn-primary btn -sm' href= '/social/myprofile/follow/{{n1.id}}'>Follow</a>
</td>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}